___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv('Salaries.csv')

** Check the head of the DataFrame. **

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
sal['BasePay'].mean()

66325.44884050643

66325.44884050643

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sal['OvertimePay'].max()

245131.88

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [9]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [10]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [49]:
sal.loc[sal['TotalPayBenefits'].idxmax()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [14]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [15]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [18]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [19]:
sal['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

In [20]:
sal['JobTitle'].nunique()

2159

2159

** What are the top 5 most common jobs? **

In [67]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [27]:
sal.groupby('JobTitle').count()['Id'].nlargest()

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [100]:
jobt = sal[['Id','EmployeeName', 'JobTitle', 'Year']]
jobt = jobt[jobt['Year']==2013]
bools = jobt['JobTitle'].value_counts()==1
sum(bools)

202

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
#df_filt[df_filt['CTYNAME'].str.contains("Washington")]

In [110]:
chief = sal.copy()
chief['JobTitle'] = chief['JobTitle'].str.lower()
chief[chief['JobTitle'].str.contains("chief")]['JobTitle'].count()

627

In [125]:
fire = sal.copy()
fire['JobTitle']=fire['JobTitle'].str.lower()
fire[fire['JobTitle'].str.contains("fire")].sort_values(by='TotalPayBenefits', ascending=False)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_len
72926,72927,Joanne M Hayes-White,"chief, fire department",313686.01,0.00,23236.00,85431.39,336922.01,422353.40,2013,NaN,San Francisco,NaN,22
110535,110536,Joanne M Hayes-White,"chief, fire department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,NaN,San Francisco,NaN,22
36159,36160,Gary Altenberg,"lieutenant, fire suppression",128808.87,220909.48,13126.31,44430.12,362844.66,407274.78,2012,NaN,San Francisco,NaN,28
72927,72928,Samson Lai,"battalion chief, fire suppress",186236.42,131217.63,29648.27,57064.95,347102.32,404167.27,2013,NaN,San Francisco,NaN,30
72930,72931,David L Franklin,asst chf of dept (fire dept),215265.60,87985.24,30637.48,62890.36,333888.32,396778.68,2013,NaN,San Francisco,NaN,28
110539,110540,Samson Lai,"battalion chief, fire suppress",179464.14,128685.99,27334.83,59876.90,335484.96,395361.86,2014,NaN,San Francisco,NaN,30
110540,110541,David L Franklin,asst chf of dept (fire dept),201566.88,97907.38,29916.28,64599.59,329390.54,393990.13,2014,NaN,San Francisco,NaN,28
36162,36163,Joanne Hayes-White,"chief, fire department",296943.01,0.00,17816.59,72047.88,314759.60,386807.48,2012,NaN,San Francisco,NaN,22
72934,72935,Thomas A Siragusa,asst chf of dept (fire dept),215265.60,88028.54,21526.49,61288.58,324820.63,386109.21,2013,NaN,San Francisco,NaN,28
36163,36164,Frederick Binkley,emt/paramedic/firefighter,126863.19,192424.49,17917.18,44438.25,337204.86,381643.11,2012,NaN,San Francisco,NaN,25
36168,36169,David Franklin,asst chf of dept (fire dept),204032.52,85503.16,26193.09,58486.10,315728.77,374214.87,2012,NaN,San Francisco,NaN,28
72938,72939,Raymond A Guzman,dep chf of dept (fire dept),270756.03,0.00,24181.02,77474.92,294937.05,372411.97,2013,NaN,San Francisco,NaN,27
72939,72940,Marty A Ross,"battalion chief, fire suppress",186236.43,88345.08,38035.09,58991.75,312616.60,371608.35,2013,NaN,San Francisco,NaN,30
36169,36170,Brendan Ward,"battlion chief, fire suppressi",174822.47,118215.58,28845.78,49648.09,321883.83,371531.92,2012,NaN,San Francisco,NaN,30
110544,110545,Raymond A Guzman,dep chf of dept (fire dept),260728.04,0.00,26761.80,82974.58,287489.84,370464.42,2014,NaN,San Francisco,NaN,27
36170,36171,Samson Lai,"battlion chief, fire suppressi",174822.44,112731.28,28660.28,53249.56,316214.00,369463.56,2012,NaN,San Francisco,NaN,30
36171,36172,Rudy Castellanos,"battlion chief, fire suppressi",176771.74,124413.13,15803.39,52320.90,316988.26,369309.16,2012,NaN,San Francisco,NaN,30
72940,72941,Mark A Gonzales,dep chf of dept (fire dept),270756.01,0.00,20236.50,77408.16,290992.51,368400.67,2013,NaN,San Francisco,NaN,27
110545,110546,Jose L Velo,"battalion chief, fire suppress",183333.82,100005.66,23760.13,61052.39,307099.61,368152.00,2014,NaN,San Francisco,NaN,30
72941,72942,Mark J Johnson,"battalion chief, fire suppress",186236.41,101466.96,23994.92,56134.30,311698.29,367832.59,2013,NaN,San Francisco,NaN,30
72942,72943,Bryan W Rubenstein,"battalion chief, fire suppress",186236.45,94450.92,30313.49,56508.46,311000.86,367509.32,2013,NaN,San Francisco,NaN,30
72943,72944,Gary L Altenberg,"lieutenant, fire suppression",135903.02,163477.81,20994.96,46030.76,320375.79,366406.55,2013,NaN,San Francisco,NaN,28
36172,36173,Marty Ross,"battlion chief, fire suppressi",174822.41,99623.51,36522.39,55353.92,310968.31,366322.23,2012,NaN,San Francisco,NaN,30
110546,110547,Bryan W Rubenstein,"battalion chief, fire suppress",177771.16,91547.61,36798.76,59664.91,306117.53,365782.44,2014,NaN,San Francisco,NaN,30
110548,110549,Mark A Gonzales,dep chf of dept (fire dept),260728.00,0.00,22933.73,81886.55,283661.73,365548.28,2014,NaN,San Francisco,NaN,27
110551,110552,Thomas A Siragusa,asst chf of dept (fire dept),207437.76,67712.84,20743.71,64549.50,295894.31,360443.81,2014,NaN,San Francisco,NaN,28
72948,72949,Arthur W Kenney,asst chf of dept (fire dept),213308.64,49139.25,36262.42,60756.95,298710.31,359467.26,2013,NaN,San Francisco,NaN,28
72949,72950,Lorrie A Kalos,"battalion chief, fire suppress",186236.49,87457.68,28003.53,57030.95,301697.70,358728.65,2013,NaN,San Francisco,NaN,30
72952,72953,Rudy J Castellanos,"battalion chief, fire suppress",186236.42,94274.25,19022.95,55351.53,299533.62,354885.15,2013,NaN,San Francisco,NaN,30
110554,110555,Arthur W Kenney,asst chf of dept (fire dept),207437.76,31868.28,49941.59,64549.50,289247.63,353797.13,2014,NaN,San Francisco,NaN,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145268,145269,Clyde M Watarai,firefighter,4887.82,0.00,0.00,1648.74,4887.82,6536.56,2014,NaN,San Francisco,NaN,11
70098,70099,Keith Wong,firefighter,0.00,0.00,6119.81,89.78,6119.81,6209.59,2012,NaN,San Francisco,NaN,11
32946,32947,MICHAEL ESTRADA,fire fighter paramedic,5703.98,0.00,370.76,NaN,6074.74,6074.74,2011,NaN,San Francisco,NaN,22
107620,107621,Dylan C Hawhee,emt/paramedic/firefighter,4118.25,0.00,394.76,1337.35,4513.01,5850.36,2013,NaN,San Francisco,NaN,25
70274,70275,Sarah Hamilton,firefighter,0.00,0.00,5477.94,79.43,5477.94,5557.37,2012,NaN,San Francisco,NaN,11
33180,33181,THOMAS BURGER,pilot of fire boats,5345.06,0.00,0.00,NaN,5345.06,5345.06,2011,NaN,San Francisco,NaN,19
145677,145678,Kirsten K Conroy,firefighter,0.00,0.00,593.10,4659.36,593.10,5252.46,2014,NaN,San Francisco,NaN,11
145729,145730,Thomas Burger,pilot of fire boats,4232.04,0.00,0.00,876.03,4232.04,5108.07,2014,NaN,San Francisco,NaN,19
145786,145787,Denise Elarms,firefighter,0.00,0.00,325.43,4659.36,325.43,4984.79,2014,NaN,San Francisco,NaN,11
33399,33400,SARAH HAMILTON,firefighter,4350.41,0.00,392.17,NaN,4742.58,4742.58,2011,NaN,San Francisco,NaN,11
70531,70532,Gerald Shannon,fire alarm dispatcher,3995.40,0.00,324.07,343.40,4319.47,4662.87,2012,NaN,San Francisco,NaN,21
145944,145945,Claudia Valentino,firefighter,0.00,0.00,0.00,4659.36,0.00,4659.36,2014,NaN,San Francisco,NaN,11
145956,145957,Kenneth C Farris,firefighter,0.00,0.00,0.00,4645.56,0.00,4645.56,2014,NaN,San Francisco,NaN,11
70750,70751,Daren Brannan,emt/paramedic/firefighter,2737.52,0.00,342.19,955.13,3079.71,4034.84,2012,NaN,San Francisco,NaN,25
108470,108471,Lesley A Sudduth,emt/paramedic/firefighter,NaN,0.00,3619.38,0.00,3619.38,3619.38,2013,NaN,San Francisco,NaN,25
108574,108575,Thomas Burger,pilot of fire boats,2821.36,0.00,0.00,536.48,2821.36,3357.84,2013,NaN,San Francisco,NaN,19
34124,34125,JOHN FORBES-3,"captain, fire suppression",0.00,982.06,2277.34,NaN,3259.40,3259.40,2011,NaN,San Francisco,NaN,25
34790,34791,CHARLES JOHNSON,firefighter,0.00,0.00,1966.11,NaN,1966.11,1966.11,2011,NaN,San Francisco,NaN,11
109352,109353,Elizabeth M Leahy,firefighter,NaN,0.00,1886.38,0.00,1886.38,1886.38,2013,NaN,San Francisco,NaN,11
34927,34928,THOMAS LEEPER,fire fighter paramedic,0.00,11.21,1707.63,NaN,1718.84,1718.84,2011,NaN,San Francisco,NaN,22
147556,147557,Edward A Dunn,firefighter,1063.24,0.00,132.90,385.66,1196.14,1581.80,2014,NaN,San Francisco,NaN,11
109694,109695,Guillermo R Casillas,firefighter,NaN,0.00,1201.51,0.00,1201.51,1201.51,2013,NaN,San Francisco,NaN,11
109796,109797,Sherri M Pelayo,firefighter,838.50,0.00,0.00,174.58,838.50,1013.08,2013,NaN,San Francisco,NaN,11
72200,72201,James Schrick,firefighter,0.00,27.46,936.41,0.25,963.87,964.12,2012,NaN,San Francisco,NaN,11
148021,148022,Kari A Johnson,firefighter,688.71,0.00,0.00,143.39,688.71,832.10,2014,NaN,San Francisco,NaN,11
148209,148210,Sheryl K Lee,firefighter,459.14,0.00,0.00,95.59,459.14,554.73,2014,NaN,San Francisco,NaN,11
35811,35812,ROBERTO LUCHA,firefighter,0.00,217.10,185.07,NaN,402.17,402.17,2011,NaN,San Francisco,NaN,11
36076,36077,DEBRA TANIS,fire rescue paramedic,0.00,0.00,92.21,NaN,92.21,92.21,2011,NaN,San Francisco,NaN,21
148554,148555,Lawrence F Gatt,fire alarm dispatcher,73.33,0.00,0.00,0.73,73.33,74.06,2014,NaN,San Francisco,NaN,21
36153,36154,ROCK CRAWFORD,firefighter,0.00,0.00,5.80,NaN,5.80,5.80,2011,NaN,San Francisco,NaN,11

In [116]:
chief[chief['JobTitle'].str.contains("chief")]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"deputy chief of department,(fire department)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,assistant deputy chief ii,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"battalion chief, (fire department)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"battalion chief, (fire department)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"chief of department, (fire department)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"assistant chief of department, (fire department)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"battalion chief, (fire department)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011,NaN,San Francisco,NaN
18,19,MARTY ROSS,"battalion chief, (fire department)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"battalion chief, (fire department)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011,NaN,San Francisco,NaN
25,26,GREGORY SUHR,chief of police,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"battalion chief, (fire department)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,deputy chief iii (police department),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"deputy chief of department,(fire department)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011,NaN,San Francisco,NaN
31,32,DAVID SHINN,deputy chief iii (police department),254027.63,0.00,5899.48,NaN,259927.11,259927.11,2011,NaN,San Francisco,NaN
34,35,JOSE VELO,"battalion chief, (fire department)",177781.25,59924.97,20658.00,NaN,258364.22,258364.22,2011,NaN,San Francisco,NaN
39,40,BRENDAN WARD,"battalion chief, (fire department)",147158.85,64985.85,39540.46,NaN,251685.16,251685.16,2011,NaN,San Francisco,NaN
40,41,MICHAEL THOMPSON,"battalion chief, (fire department)",168692.66,60847.56,21055.17,NaN,250595.39,250595.39,2011,NaN,San Francisco,NaN
41,42,THOMAS ABBOTT,"battalion chief, (fire department)",168692.63,59760.90,21954.96,NaN,250408.49,250408.49,2011,NaN,San Francisco,NaN
42,43,THOMAS SIRAGUSA,"deputy chief of department,(fire department)",218930.76,4078.00,27330.59,NaN,250339.35,250339.35,2011,NaN,San Francisco,NaN
46,47,BRYAN RUBENSTEIN,"battalion chief, (fire department)",168692.64,66199.23,14401.43,NaN,249293.30,249293.30,2011,NaN,San Francisco,NaN
48,49,JAMES DUDLEY,deputy chief iii (police department),233867.60,0.00,14851.04,NaN,248718.64,248718.64,2011,NaN,San Francisco,NaN
50,51,KIRK RICHARDSON,"battalion chief, (fire department)",168692.59,58084.86,20477.16,NaN,247254.61,247254.61,2011,NaN,San Francisco,NaN
55,56,KEVIN CASHMAN,deputy chief iii (police department),226206.80,0.00,15004.37,NaN,241211.17,241211.17,2011,NaN,San Francisco,NaN
57,58,MARK KEARNEY,assistant deputy chief ii,217410.80,0.00,22608.30,NaN,240019.10,240019.10,2011,NaN,San Francisco,NaN
63,64,CHARLES CRANE,"battalion chief, (fire department)",168692.62,54342.28,15444.38,NaN,238479.28,238479.28,2011,NaN,San Francisco,NaN
66,67,ROBERT POSTEL,"assistant chief of department, (fire department)",177914.76,36644.57,22785.08,NaN,237344.41,237344.41,2011,NaN,San Francisco,NaN
68,69,THOMAS SHAWYER,deputy chief iii (police department),122974.00,0.00,113226.92,NaN,236200.92,236200.92,2011,NaN,San Francisco,NaN
71,72,RICHARD BUSALACCHI,"battalion chief, (fire department)",92782.61,5477.62,135684.25,NaN,233944.48,233944.48,2011,NaN,San Francisco,NaN
76,77,KEVIN BURKE,"battalion chief, (fire department)",174872.64,16876.74,40258.39,NaN,232007.77,232007.77,2011,NaN,San Francisco,NaN
79,80,EDUARDO GONZALEZ,"battalion chief, (fire department)",168692.62,35096.74,27802.89,NaN,231592.25,231592.25,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120012,120013,Mark A Naddy,chief stationary engineer,99736.06,450.62,5934.48,36955.12,106121.16,143076.28,2014,NaN,San Francisco,NaN
121045,121046,Rolando C Lopez,chief stationary engineer,91172.93,5517.86,5300.90,34959.56,101991.69,136951.25,2014,NaN,San Francisco,NaN
122123,122124,Nerivaldo C Santos,chief fire alarm dispatcher,90665.02,7235.84,70.00,33692.92,97970.86,131663.78,2014,NaN,San Francisco,NaN
122170,122171,James M Ryan,chief surveyor,95288.05,396.83,0.00,35673.70,95684.88,131358.58,2014,NaN,San Francisco,NaN
122574,122575,Loretta M Cecconi,chief dietitian,94694.30,0.00,200.00,34558.44,94894.30,129452.74,2014,NaN,San Francisco,NaN
123030,123031,Michael G Gay,chief stationary engineer,81476.01,5806.87,17427.93,22612.24,104710.81,127323.05,2014,NaN,San Francisco,NaN
124548,124549,Paul H Mabry,chief surveyor,88421.29,0.00,0.00,31060.87,88421.29,119482.16,2014,NaN,San Francisco,NaN
124647,124648,Mark Y Antonio,chief clerk,82230.07,0.00,3397.31,33432.00,85627.38,119059.38,2014,NaN,San Francisco,NaN
125497,125498,Artie L L Kelly,chief clerk,82230.01,0.00,1156.44,32076.41,83386.45,115462.86,2014,NaN,San Francisco,NaN
125525,125526,Tuti I Suardana,chief clerk,82230.03,0.00,1040.00,32063.05,83270.03,115333.08,2014,NaN,San Francisco,NaN
125670,125671,Sylvia N Thai,chief clerk,82230.04,0.00,624.00,31970.56,82854.04,114824.60,2014,NaN,San Francisco,NaN
125673,125674,Deborah L Brown,chief clerk,82230.01,0.00,624.00,31970.56,82854.01,114824.57,2014,NaN,San Francisco,NaN
125861,125862,Cuong Quach,chief clerk,82299.89,0.00,0.00,31861.18,82299.89,114161.07,2014,NaN,San Francisco,NaN
125893,125894,Peter Aviles,chief clerk,82230.02,0.00,0.00,31834.29,82230.02,114064.31,2014,NaN,San Francisco,NaN
125907,125908,Shahin P Shaikh,chief clerk,82195.25,0.00,0.00,31820.96,82195.25,114016.21,2014,NaN,San Francisco,NaN
126041,126042,Donald P Margolis,assistant chief attorney 1,62720.01,0.00,33084.71,17560.74,95804.72,113365.46,2014,NaN,San Francisco,NaN
127965,127966,Sylvia M Selinger,chief clerk,75606.53,0.00,0.00,31027.57,75606.53,106634.10,2014,NaN,San Francisco,NaN
128030,128031,Janice Gragasin,chief clerk,75968.03,0.00,0.00,30478.04,75968.03,106446.07,2014,NaN,San Francisco,NaN
131266,131267,Cheryl L Coleman,chief clerk,68089.84,0.00,40.00,26349.83,68129.84,94479.67,2014,NaN,San Francisco,NaN
131377,131378,Ann M Castillo,chief telephone operator,65117.43,0.00,624.60,28244.66,65742.03,93986.69,2014,NaN,San Francisco,NaN
132799,132800,Judith A Boyajian,assistant chief attorney 1,88352.39,0.00,575.00,0.00,88927.39,88927.39,2014,NaN,San Francisco,NaN
133842,133843,Jennifer L Novak,chief clerk,61327.71,0.00,696.96,23793.25,62024.67,85817.92,2014,NaN,San Francisco,NaN
137010,137011,Ryan L Butterfield,chief preparator,46950.77,0.00,0.00,20659.10,46950.77,67609.87,2014,NaN,San Francisco,NaN
137168,137169,Tony E Durkee,chief surveyor,65432.94,0.00,0.00,654.38,65432.94,66087.32,2014,NaN,San Francisco,NaN
137553,137554,Paula Jesson,assistant chief attorney 1,62095.32,0.00,431.25,0.00,62526.57,62526.57,2014,NaN,San Francisco,NaN
138011,138012,Sharon C Jackson,chief deputy adlt probation of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,NaN
139620,139621,Anita S Lee,chief clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,NaN
139709,139710,George D Vaughan,chief nursery specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,NaN
140080,140081,Patrick W Gillespie,chief preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,NaN
140156,140157,Christopher L Ochoa,chief stationary engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,NaN

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [113]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [114]:
sal[['TotalPayBenefits','title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!